a {
    font-size: 80px;
}

.navbar {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(93,9,121,1) 35%, rgba(0,212,255,1) 100%);
    color: white;
}


.nav-item {
    border-radius: 8px;
    transition: all 0.2s;
}

.nav-item a {
    color: white;
}

.nav-item:hover {
    background: lightgray;
    transition: all 0.2s;
}

.card-header {
    background: rgba(93,9,121,1);
    color: white;
}

.btn-primary {
    background: rgba(93,9,121,1);
    color: white;
    outline: none;
    border: none;
}

a {
    font-size: 1rem;
    color: rgb(46, 45, 45);
}

svg {
    width: 25px;
}

body {
    background-color: #D9C6A3;
    color: #000;
  }
  .navbar {
    background-color: #658DA6;
  }
  .navbar-brand, .nav-link {
    color: #fff !important;
  }
  .btn-outline-success {
    color: #fff;
    border-color: #fff;
  }
  .btn-outline-success:hover {
    background-color: #6DA0A6;
    border-color: #6DA0A6;
  }
  .card {
    background-color: #D9C8B4;
    margin: 10px;
  }
  .card-title {
    color: #000;
  }
  .card-text {
    color: #000;
  }
  footer {
    background-color: #688C82;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    margin-top: 20px;
  }